target/
*.settings
settings/
*.classpath
classpath/
*.log
log/
*.logs
logs/
*.project
.project
*.mymetadata
mymetadata/
*.tern-project
tern-project/
*.class
class/
*.war
*.svn
svn/
*.metadata
metadata/
*.MF
*.idea
idea/
*.ini
*.iml
*.myeclipse
myeclipse/
*.eclipse
eclipse/
*.bak
Servers/
*.springBeans
*.externalToolBuilders
bin/
*.lnk
*.bak